{
  "parser": "babel-eslint",
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"],
  "rules": {
    "arrow-body-style": "warn",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "complexity": ["warn", 9],
    "max-len": ["warn", 150]
  },
  "globals": {
    "describe": false,
    "it": false,
    "expect": false,
    "jest": false
  }
}
